#include <windows.h>
#include "regedit.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "application.manifest"

IDI_ICON ICON "regedit.ico"

IDM_MENUBAR MENU
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
  POPUP "&File"
  {
    MENUITEM "E&xit",           IDM_FILEXIT
  }
  POPUP "&Edit"
  {
    MENUITEM "Add &Key...",     IDM_EDADDKEY
    MENUITEM "Add &Value...",   IDM_EDADDVAL
    MENUITEM "&Delete\tDel",    IDM_EDDELETE
  }
}

IDM_KEYCTX MENU
{
  POPUP ""
  {
    MENUITEM "&Modify...",      IDM_KEYMODIFY
    MENUITEM "Modify &Binary Data...", IDM_KEYMODIFYBIN
    MENUITEM SEPARATOR
    MENUITEM "&Delete",         IDM_KEYDELETE
    MENUITEM "&Rename",         IDM_KEYRENAME
  }
}

STRINGTABLE
{
    IDS_NAME            "Registry Editor"

    IDS_CANTOPENKEY     "Error: unable to open key. Probably due to security reasons."
    IDS_OPENKEYERR      "Error: unable to open key. RegOpenKey = %d, Line = %d"
    IDS_REGERR          "Line: %d 0 based index = %d, retValue = %d, ValueLen = %d"

    IDS_REGNONE         "REG_NONE"
    IDS_REGSZ           "REG_SZ"
    IDS_REGEXPSZ        "REG_EXPAND_SZ"
    IDS_REGBIN          "REG_BINARY"
    IDS_REGDWORD        "REG_DWORD"
    IDS_REGDWORDBE      "REG_DWORD_BIG_ENDIAN"
    IDS_REGLINK         "REG_LINK"
    IDS_REGMULTI        "REG_MULTI_SZ"
    IDS_REGRESLST       "REG_RESOURCE_LIST"

    IDS_REGDESCNONE     "REG_NONE: No defined value type."
    IDS_REGDESCSZ       "REG_SZ: A null-terminated Unicode string."
    IDS_REGDESCEXPSZ    "REG_EXPAND_SZ: A null-terminated string that contains unexpanded references to environment variables."
    IDS_REGDESCBIN      "REG_BINARY: Freeform binary data."
    IDS_REGDESCDWORD    "REG_DWORD: A 32-bit number"
    IDS_REGDESCDWORDBE  "REG_DWORD_BIG_ENDIAN: A 32-bit number in big-endian format."
    IDS_REGDESCLINK     "REG_LINK: A Unicode symbolic link."
    IDS_REGDESCMULTI    "REG_MULTI_SZ: An array of null-terminated strings."
    IDS_REGDESCRESLST   "REG_RESOURCE_LIST: A device-driver resource list."
    
    IDS_DEFAULTVALNAME  "(Default)"
    IDS_BINPLACEHLDR    "(binary)"
    
    IDS_COLNAME         "Name"
    IDS_COLTYPE         "Type"
    IDS_COLDATA         "Data"
}

IDI_REGSZ ICON "sz.ico"
IDI_REGBIN ICON "bin.ico"
IDI_REGKEY ICON "key.ico"